options {
    directory "/var/cache/bind";

    recursion yes;
    allow-recursion { any; };

    forwarders {
        8.8.8.8;
        8.8.4.4;
    };

    dnssec-validation no;
    listen-on { any; };
    listen-on-v6 { any; };
};

