[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
prompt = no

[ req_distinguished_name ]
C = FR
O = ipsec
CN = IPsecCA

[ v3_ca ]
keyUsage = critical, digitalSignature, keyCertSign, cRLSign
basicConstraints = critical,CA:true
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
